<strong>Exercise 1: Create a Jupyter Notebook.</strong>

<h2><strong>Name:</strong> DataScienceEcosystem.ipynb</h2>

<strong>Exercise 2 - Create a markdown cell with the title of the notebook.</strong>

<h1>Data Science Tools and Ecosystem</h1>

<strong>Exercise 3 - Create a markdown cell for an introduction.</strong>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.<p>

<strong>Objectives:</strong>
<ul>
    <li>List popular languages that Data Scientists use.</li>
    <li>List commonly used libraries used by Data Scientists.</li>
    <li>Comment on Data Science tools.</li>
</ul>

<strong>Exercise 4 - Create a markdown cell to list data science languages.</strong>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Java</li>
    <li>Julia</li>
    <li>Scala</li>
    <li>C/C++</li>
    <li>JavaScript</li>
</ol>

<strong>Exercise 5 - Create a markdown cell to list data science libraries.</strong>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>TensorFlow</li>
    <li>NumPy</li>
    <li>SciPy</li>
    <li>Pandas</li>
    <li>Matplotlib</li>
    <li>Keras</li>
    <li>SciKit-Learn</li>
    <li>PyTorch</li>
    <li>Scrapy</li>
    <li>BeautifulSoup</li>
    <li>LightGBM</li>
    <li>ELI5</li>
    <li>Theano</li>
    <li>NuPIC</li>
    <li>Ramp</li>
    <li>Pipenv</li>
    <li>Bob</li>
    <li>PyBrain</li>
    <li>Caffe2</li>
    <li>Chainer</li>
</ol>

<strong>Exercise 6 - Create a markdown cell with a table of Data Science tools.</strong>

<table style="width:100%">
  <tr>
    <th>Data Science Tools</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>SAS. It is one of those data science tools which are specifically designed for statistical operation</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Apache Spark</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>BigML</td>
    <td></td>
    <td></td>
  </tr>
</table>

<strong>Exercise 7 - Create a markdown cell introducing arithmetic expression examples.</strong>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [7]:
# Addition
result = 2 + 3
print("2 + 3 = {}".format(result))

# Subtraction
result = 5 - 2
print("5 - 2 = {}".format(result))

# Multiplication
result = 4 * 6
print("4 * 6 = {}".format(result))

2 + 3 = 5
5 - 2 = 3
4 * 6 = 24

<strong>Exercise 8 - Create a code cell to multiply and add numbers.</strong>

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

<strong>Exercise 9 - Create a code cell to convert minutes to hours</strong>

In [6]:
# This will convert 200 minutes to hours by diving by 60
print(round(200 / 60, 2),"hours")

3.33 hours

<strong>Exercise 10 -Insert a markdown cell to list Objectives</strong>

<strong>Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name</strong>

<h2>Author:</h2> Moustafa Abada